[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidywater"]
	path = tidywater
	url = https://github.com/brownandcaldwell-public/tidywater
